<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|join(' - ') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if pagina is defined and pagina.multimidia.fotos %}
        <meta property="og:image" content="{{ pagina.multimidia.fotos[0].url }}" />
        {% endif %}

        <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,300,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="{{ app.request.baseUrl ~ asset('/css/styles.css') }}" rel="stylesheet" media="screen" />
    </head>
    <body class="{{ app.request.get('_route')|replace({'.':' '}) }}">
        <script type="text/javascript" charset="utf-8" src="//barra.to.gov.br/topo.js?k={{ app.request.host }}"></script>
        <div id="header-image"></div>
        <div class="container margin-top">
            <div class="row">
                <div class="col-sm-3">
                    <div class="navbar navbar-default visible-xs" role="navigation">
                        <span class="navbar-brand">Navegação</span>
                        <button type="button" class="glyphicon glyphicon-menu-hamburger navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                    </div>

                    {% macro submenu(item) %}
                        <span>
                            <a href="{{ paginaUrl(item) }}">{{ item.titulo }}</a>
                            {% if item.filhos %}
                                <nav>
                                    {% for i in item.filhos %}
                                        {{ _self.submenu(i) }}
                                    {% endfor %}
                                </nav>
                            {% endif %}
                        </span>
                    {% endmacro %}

                    <nav id="menu" class="navbar-collapse collapse" role="navigation">
                        <a href="{{ app.request.baseUrl }}/">Início</a>
                        <a href="{{ app.request.baseUrl }}/noticias">Notícias</a>
                        <a href="{{ app.request.baseUrl }}/galerias">Galerias</a>
                        {% for item in menu %}
                            {{ _self.submenu(item) }}
                        {% endfor %}
                    </nav>
                </div>
                <div class="col-sm-9">
                  <div id="conteudo" class="row">
                  {% block content %}
                  {% endblock %}
                  </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="//barra.to.gov.br/base.js?k={{ app.request.host }}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
        <script src="//cdn.rawgit.com/luanlmd/jquery.scroll4ever/v1.0.0/jquery.scroll4ever.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/js/jquery.blueimp-gallery.min.js"></script>
        
        <script src="{{ app.request.baseUrl ~ asset('/js/scripts.js') }}" type="text/javascript"></script>

        {% block script %}
        {% endblock %}
    </body>
</html>
