 {% extends 'layout/default.twig' %}

{% block content %}

<h1>Busca: {{ busca }}</h1>

<form action="" method="get">
    <input type="text" name="q" value="{{ busca }}" />
    <input type="submit" value="Buscar" />
</form>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
    google.load('search', '1');
    function OnLoad()
    {
            var searchControl = new google.search.SearchControl();

            var options = new google.search.SearcherOptions();
            options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);
            options.setRoot(document.getElementById("resultados"));

            webSearch = new google.search.WebSearch();
            webSearch.setSiteRestriction("{{ app.request.host }}");

            searchControl.addSearcher(webSearch, options);
            searchControl.setResultSetSize(google.search.Search.LARGE_RESULTSET);
            searchControl.draw(document.getElementById("search_control"));

            searchControl.execute("{{ busca }}");
    }
    google.setOnLoadCallback(OnLoad);
</script>
<div id="resultados">
        Carregando...
</div>

{% endblock %}