{% extends 'layout/default.twig' %}

{% block content %}

    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.css' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.print.css' rel='stylesheet' media='print'/>

    <div class="col-sm-12">
        <div class="white-block">
            <h1 class="margin-top-0">Calendário de Eventos</h1>
            <input type="hidden" value="{{ json }}" id="eventosJson" />
            <div id="eventos">
                <div id='calendar'>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/gcal.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/lang/pt-br.js"></script>
<script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                timeFormat: '(:mm)',
                timezone:'America/Araguaina',
                editable: false,
                eventLimit: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate:"{{ hodie }}",
                eventLimit: true, // allow "more" link when too many events
                events: jQuery.parseJSON($("#eventosJson").val())
            });
        });
    </script>

{% endblock %}
