{% extends 'layout/default.twig' %}

{% block content %}

<h1>{{ galeria.titulo }}</h1>
{% for foto in galeria.fotos %}
    <a title="{{ foto.legenda }}" class="modal" rel="group" href="{{ foto.url|resize(1000) }}">
        {{ foto.code|resize(190)|raw }}
    </a>
{% endfor %}

{% endblock %}