{% extends 'layout/default.twig' %}

{% block content %}

<h1>Galerias</h1>

{% if galerias %}
    {% for galeria in galerias %}
        <div><a href="{{ app.request.baseUrl ~ galeria.uri }}">{{ galeria.titulo }}</a></div>
    {% endfor %}
{% else %}
    <p>Nenhuma galeria cadastrada.</p>
{% endif %}

{% endblock %}