{% extends 'layout/default.twig' %}

{% block content %}

<h1>Notícias</h1>

<div>
    <ul>
    {% for noticia in noticias %}
        <li>{{ noticia.data }} - <a href="{{ app.request.basePath ~ noticia.uri }}">{{ noticia.titulo }}</a></li>
    {% endfor %}
    </ul>
    
    {% if proximaPagina > 0 %}
    <a class="next button" href="{{ app.request.uri|split('?')[0] ~ "?pagina=" ~ proximaPagina }}">mostrar mais</a>
    {% endif %}
</div>

{% endblock %}