{% extends 'layout/default.twig' %}

{% block content %}

<article>

<h1>{{ pagina.titulo|e }}</h1>

<p>{{ pagina.data }} - {{ pagina.autor }}</p>

{% if pagina.multimidia.fotos or pagina.multimidia.videos or pagina.multimidia.audios %}
<div id="multimidia">
{% include "multimidia/fotos.twig" with { 'pagina':pagina } %}
{% include "multimidia/videos.twig" with { 'pagina':pagina } %}
{% include "multimidia/audios.twig" with { 'pagina':pagina } %}
</div>
{% endif %}

<div id="conteudo">
{{ pagina.conteudo|raw }}
</div>

<div id="attachment">
{% include "multimidia/arquivos.twig" with { 'pagina':pagina } %}
</div>

</article>

<div id="share">
	<p class="title">Compartilhe esta notícia:</p>
	<span class='st_facebook_large' displayText='Facebook'></span>
	<span class='st_twitter_large' displayText='Tweet'></span>
	<span class='st_googleplus_large' displayText='Google +'></span>
	<span class='st_pinterest_large' displayText='Pinterest'></span>
	<span class='st_delicious_large' displayText='Delicious'></span>
	<span class='st_email_large' displayText='Email'></span>
</div>

{% endblock %}