{% extends 'layout/default.twig' %}

{% block content %}

<article>

<h1>{{ pagina.titulo|e }}</h1>

{% if pagina.multimidia.fotos or pagina.multimidia.videos or pagina.multimidia.audios %}
<div id="multimidia">
{% include "multimidia/fotos.twig" with { 'pagina':pagina } %}
{% include "multimidia/videos.twig" with { 'pagina':pagina } %}
{% include "multimidia/audios.twig" with { 'pagina':pagina } %}
</div>
{% endif %}

<div id="conteudo">
{{ pagina.conteudo|raw }}
</div>

<div id="attachment">
{% include "multimidia/filhos.twig" with { 'pagina':pagina } %}
{% include "multimidia/links.twig" with { 'pagina':pagina } %}
{% include "multimidia/arquivos.twig" with { 'pagina':pagina } %}
</div>

</article>

{% endblock %}