{% extends 'layout/default.twig' %}

{% block content %}

<article>

<h1>{{ pagina.titulo|e }}</h1>

<div id="multimidia">
{% include "multimidia/fotos.twig" with { 'pagina':pagina } %}
{% include "multimidia/videos.twig" with { 'pagina':pagina } %}
{% include "multimidia/audios.twig" with { 'pagina':pagina } %}
</div>

<div id="conteudo">
{{ pagina.conteudo|raw }}
</div>

{% include "multimidia/arquivos.twig" with { 'pagina':pagina } %}
{% include "multimidia/links.twig" with { 'pagina':pagina } %}
{% include "multimidia/filhos.twig" with { 'pagina':pagina } %}

</article>

{% endblock %}