body { font-family: 'Roboto', sans-serif; }
h1, h2, h3, h4, h5 { color:#245A98; margin:20px 0 }
body { background: #EEEEE9; }

.margin-bottom { margin-bottom: 20px; }
.margin-top { margin-top: 20px; }
.margin-top-0 { margin-top:0; }
.white-block { background: white; padding:15px; margin-bottom: 20px; border-bottom:1px solid #D4D3D1; }
.white-bg { background: white; border-bottom:1px solid #D4D3D1; }
.padding { padding: 10px; }
.img-wrapper img { width: 100%; height: 100%; }
.map-wrapper { position: relative; padding-bottom: 50%; padding-top: 25px; height: 0; margin-bottom: 20px; }

#header-image { background:#2E5695; width: 100%; height:100px; margin-top:-5px; }

#menu { padding: 0; background: white; margin-bottom: 20px; }
#menu a { display: block; clear: both; color:#22538E; padding:10px 4px; font-size: 1.1em; border-bottom: 1px solid #E5E5E5; margin:0 10px; text-transform: uppercase; }
#menu a:hover { background:#5476AA; color:white; text-decoration: none; margin:0; padding:10px 14px; }
#menu span.active > a { background:#87A0C6; color:white; font-weight: bold; margin:0; padding:10px 14px; }
#menu a.active, #menu span a.active { background:#27577F; color:white; font-weight: bold; margin:0; padding:10px 14px; }
#menu nav { display: none; }
#menu span { display: block; }
#menu span.active { background: #ddd; display: block; }
#menu span.active > nav { background: white; display: block; margin-left: 7px; }
