{% if (pagina.multimidia.arquivos) %}

<h4>Arquivo(s)</h4>

<ul id="arquivos">
{% for arquivo in pagina.multimidia.arquivos %}
    <li><a href="{{ arquivo.url }}">{{arquivo.titulo}}</a></li>
{% endfor %}
</ul>

{% endif %}
