{% if (pagina.multimidia.audios) %}

<div id="audios">
{% for audio in pagina.multimidia.audios %}
    <div class="margin-bottom">
        {{ audio.code|resize(300)|raw }}
        {{ audio.titulo }}
    </div>
{% endfor %}
</div>

{% endif %}
