{% if (pagina.multimidia.fotos) %}

<div id="fotos" class="list-unstyled col-xs-5 pull-right">
{% for foto in pagina.multimidia.fotos %}
    <a class="img-wrapper" data-gallery href="{{ foto.url|resize(1000) }}" title="{{ foto.legenda }} - {{ foto.autor }}">
        {{ foto.code|resize(300)|raw }}
    </a>
{% endfor %}
</div>

<div id="blueimp-gallery" class="blueimp-gallery" data-start-slideshow="true">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{% endif %}
