{% if (pagina.multimidia.links) %}
<h2>Link(s)</h2>
<ul id="links">
{% for filho in pagina.multimidia.links %}
    <li><a href="{{ filho.url }}">{{filho.titulo}}</a></li>
{% endfor %}
</ul>
{% endif %}