{% if (pagina.multimidia.videos) %}

<div id="videos">
{% for video in pagina.multimidia.videos %}
    <div class="embed-responsive embed-responsive-16by9 margin-bottom">
    {{ video.code|raw }}
    </div>
{% endfor %}
</div>

{% endif %}
