{% if (pagina.multimidia.videos) %}

<div id="videos">
{% for video in pagina.multimidia.videos %}
    <div class="video-wrapper margin-bottom">
    {{ video.code|resize(300, true)|raw }}
    </div>
{% endfor %}
</div>

{% endif %}
