{% extends 'layout/default.twig' %}

{% block content %}

<div class="col-sm-9 col-xs-12">

    <div class="white-bg media">
        {% for noticia in destaques %}
            <a href="{{ noticiaUrl(noticia) }}">
                <div class="img-wrapper">
                      {{ noticia.thumb.code|resize(600,300)|raw }}
                </div>
                <div class="padding">
                    <h3 class="media-heading">{{ noticia.titulo }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="white-block margin-top">
        {% for noticia in noticias %}
            <div class="margin-bottom">
            <a href="{{ noticiaUrl(noticia) }}">
                <div class="media">
                    {% if noticia.thumb %}
                        <div class="media-left">
                            {{ noticia.thumb.code|resize(130,90)|raw }}
                        </div>
                    {% endif %}
                    <div class="media-body">
                        <h4 class="media-heading">{{ noticia.titulo }}</h4>
                        <p>{{ noticia.sinopse }}</p>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
    </div>

</div>

<sidebar class="col-sm-3 col-xs-12">
    <div class="row">
        <div class="col-sm-12 col-xs-6">
            <div class="img-wrapper margin-bottom">
                <script src="//publicidade.to.gov.br/pub.php" type="text/javascript"></script>
            </div>
        </div>
        {% for banner in banners %}
            <div class="col-sm-12 col-xs-6">
                <div class="img-wrapper margin-bottom">
                {{ banner.code|resize(250)|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
</sidebar>

{% endblock %}
