{% extends 'layout/default.twig' %}

{% block content %}

<div class="col-sm-12">
    <article class="white-block">
        <a href="{{ app.request.baseUrl }}/noticias"><h4 class="margin-top-0">Notícias</h4></a>

        <h1>{{ pagina.titulo|e }}</h1>
        <p>{{ pagina.data }} - {{ pagina.autor }}</p>

        {% include "multimidia/videos.twig" with { 'pagina':pagina } %}
        {% include "multimidia/audios.twig" with { 'pagina':pagina } %}
        {% include "multimidia/fotos.twig" with { 'pagina':pagina } %}

        <div>
            {{ pagina.conteudo|raw }}
        </div>

        {% include "multimidia/arquivos.twig" with { 'pagina':pagina } %}

    </article>
</div>

{% endblock %}
