{% extends 'layout/default.twig' %}

{% block content %}

<div  class="col-sm-12">

    <article class="white-block">
        {% if pagina.pai %}
            <a href="{{ paginaUrl(pagina.pai) }}"><h4 class="margin-top-0">{{ pagina.pai.titulo|e }}</h4></a>
        {% endif %}

        <h1 class="margin-top-0">{{ pagina.titulo|e }}</h1>

        {% include "multimidia/videos.twig" with { 'pagina':pagina } %}
        {% include "multimidia/audios.twig" with { 'pagina':pagina } %}
        {% include "multimidia/fotos.twig" with { 'pagina':pagina } %}

        <div>
            {{ pagina.conteudo|raw }}
        </div>

        {% include "multimidia/filhos.twig" with { 'pagina':pagina } %}
        {% include "multimidia/links.twig" with { 'pagina':pagina } %}
        {% include "multimidia/arquivos.twig" with { 'pagina':pagina } %}
    </article>

</div>

{% endblock %}
